@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 5% 96%; /* gray-100 */
    --foreground: 240 6% 10%; /* gray-900 */
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 221 83% 53%; /* blue-500 */
    --primary-foreground: 0 0% 98%;
    --secondary: 158 79% 41%; /* emerald-500 */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 221 83% 53%;
    --radius: 0.75rem;

    --primary-dark: 221 83% 43%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 90% 66%;
    --primary-foreground: 240 6% 10%;
    --secondary: 158 64% 52%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 4% 12%;
    --muted-foreground: 240 4% 65%;
    --accent: 240 4% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 210 90% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
